<p-toast></p-toast>
<div>
    <p-dialog header="Add Product" [(visible)]="display" [style]="{width: '50vw', height: '70vh'}">
        <app-addproduct  (dataAddedsSuccess)="closeDialog($event)"></app-addproduct>
    </p-dialog>

    <p-dialog header="Update Product" [(visible)]="displayUpdate" [style]="{width: '50vw', height: '70vh'}">
        <app-updateproduct (dataUpdateSuccess)="closeUpdateDialog($event)" [productDetails]="toBeUpdateProduct"  (dataUpdatedSuccess)="updateCloseDialog($event)"></app-updateproduct>
    </p-dialog>
    <p-dialog header="Details" [(visible)]="displayList" [style]="{width: '50vw'}">
        <app-details [productDetails]="productDetails"></app-details>
    </p-dialog>
    <div class="p-grid p-jc-end">
        <div class="p-col-4">
            <button pButton type="button" label="Add Product" (click)="showDialog()"></button>
        </div>

    </div>
    <div class="container">
        <div>
            <p-table [value]="products">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Name</th>
                        <th>Code</th>
                        <th>Price</th>
                        <th>Category</th>
                        <th>Rating</th>
                        <th>Update</th>
                        <th>Delete</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td><a (click)="showdetails(product)">
                            {{product.productName}} 
                          </a> </td>
                        <td>{{product.code}}</td>
                        <td pTooltip="Pipe is used to add the Rupee symbol">{{product.price | rupee}}</td>
                        <td>{{product.categoryName}}</td>
                        <td>{{product.rating}}</td>
                        <td><button pButton type="button" label="Update"
                                class="p-button-warning p-button-raised p-button-rounded" (click)="updateDialogDisplay(product)"> </button></td>
                        <td><button pButton type="button" label="Delete" (click)="delete(product.productId)"
                                class="p-button-danger p-button-raised p-button-rounded"></button></td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>