<div class="p-grid">
    <div class="p-col">
        <h4> Product Name</h4>
    </div>
    <div class="p-col">
        <p>{{productName}}</p>
    </div>
</div>
<div class="p-grid">
    <div class="p-col">
        <h4> Category Name</h4>
    </div>
    <div class="p-col">
        <p>{{categoryName}}</p>
    </div>
</div>
<div class="p-grid">
    <div class="p-col">
        <h4> Rating</h4>
    </div>
    <div class="p-col">
        <p>{{rating}}</p>
    </div>
</div>
<div class="p-grid">
    <div class="p-col">
        <h4> Code</h4>
    </div>
    <div class="p-col">
        <p>{{code}}</p>
    </div>
</div>
<div class="p-grid">
    <div class="p-col">
        <h4> Price</h4>
    </div>
    <div class="p-col">
        <p>{{price}}</p>
    </div>
</div>